<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Walden MS</title>
            <editor>Elisa Beshero-Bondar</editor>
         </titleStmt>
         <!--We need the sourceDesc and msDesc here. And can describe the inks in much more detail. -->
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Coding experiment: Spring: MS leaves 232—235</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
      <!--See examples of sourceDoc in TEI P5 
      https://www.tei-c.org/release/doc/tei-p5-doc/en/html//examples-sourceDoc.html  -->
     <sourceDoc> <surfaceGrp n="Spring_Sand-Foliage">
         <!--labelling the collection of leaves we'll represent here -->
         <surface xml:id="hm924v1n232">
          <graphic url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/232/full/pct:10/0/default.jpg"/>
            <zone ulx="1370" uly="5270" lrx="7880" lry="9780" facs="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/232/1370,5270,6510,4510/pct:10/0/default.jpg"/>
           <!-- URL gives us expected results
              <zone xmlns:ebb="https://newtfire.org" n="tenPercent" ulx="137" uly="527" lrx="788" lry="978" facs="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/232/1370,5270,6510,4510/pct:10/0/default.jpg"/>/>
 -->
            <zone type="main">
               <!--ebb: Stealing this use of the @type for the moment from Shelley-Godwin Archive. 
               See http://shelleygodwinarchive.org/sc/oxford/prometheus_unbound/act/i/#/p1/mode/xml
               Notes during 2020-04-15 meeting: We'd like to indicate zone as placement on page, could use 
               TEI coordinates?
               -->
               <!--ebb: On the milestone element, let's think about the attributes we want to apply. This is an attempt to stitch 
               moments in the photo facsimile to passages in the fluid-text ed.-->
               <lb/><milestone unit="line" edRef="S-4b"/>river—and he dropped down with- <lb/>out
               obstruction, from Sudbury, where
               <!--ebb: How will we refer to common kinds of deletions?
               The one we see on this page, observes Beth, is often used for a passage he intends to replace.
               LOOK FOR an image elsewhere which starts with the words "muddy bottom"! 
               
               What are his standard deletion marks?
               Horizontal strikethrough
               Vertical strikethrough
               Vertical zag (if it starts vertically and turns horizontal)
               Horizontal zag
               
               Definitely we'll mark the @medium when the hand changes. 
               Questions to investigate: where to use <handShift>? And where to add @medium to the element,
               as in <del medium="pencil"/>
               
              Medium categories:
              bluePencil (Sanborn-blue)
              pencil
              ink1 (doesn't get identified, b/c it is the prevailing ink on the page)
              ink2 (any other ink used on the page that appears to be used later)
              @cert (?)
             
             
             Thoreau's ink colors: sometimes red for deletion marks
               -->
             <!-- FIRST TRY <zone n="deletion" ulx="336" uly="1220" lrx="1820" lry="2248">
                 
               </zone>-->
            </zone>
         </surface>
         <surface facs="page1.png">
            <zone>All the writing on page 1</zone>
         </surface>
         <surface>
            <graphic url="page2-highRes.png"/>
            <graphic url="page2-lowRes.png"/>
            <zone>
               <line>A line of writing on page 2</line>
               <line>Another line of writing on page 2</line>
            </zone>
         </surface>
      </surfaceGrp>
     </sourceDoc>
</TEI>