<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://raw.githubusercontent.com/milnegeneseo/digital-scholarly-editing/master/TEI_encode/out/WaldenMSODD.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="https://raw.githubusercontent.com/milnegeneseo/digital-scholarly-editing/master/TEI_encode/out/WaldenMSODD.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Walden MS: Spring: MS leaves 232-235</title>
            <editor>Elisa Beshero-Bondar</editor>
            <editor>Nikolaus Wasmoen</editor>
            <editor><!--Others contributing to editing this "particle": add your name here, and down in the <profileDesc> below --></editor>
         </titleStmt>
         <!--We need the sourceDesc and msDesc here. And can describe the inks in much more detail. 
           Medium categories:
              bluePencil (Sanborn-blue)
              pencil
              sometimes red for deletion marks
              ink1 (doesn't get identified, b/c it is the prevailing ink on the page)
              ink2 (any other ink used on the page that appears to be used later)
              Apply with @cert levels as we code (?)
         -->
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Coding experiment: Spring: MS leaves 232–235 <!--Huntington info...--></p>
         </sourceDesc>
      </fileDesc>
      <encodingDesc>
         <projectDesc>
            <p><!--ebb: Here we describe the purpose of our encoding, and how it is connecting the Huntington MS photo facsimiles to the fluid text edition --></p>
         </projectDesc>
         <samplingDecl>
            <p><!--ebb: We can describe how we are sampling MS images to encode here and connect to well-known passages of Walden. --></p>
         </samplingDecl>
         <editorialDecl>
            <p><!--ebb: We can provide some explanation of our editorial practice, like how we represent line beginnings and what we do with hyphenation, and what we're doing with various kinds of deletion marks.
            How will we refer to common kinds of deletions?
               The one we see on this page, observes Beth, is often used for a passage he intends to replace.
               LOOK FOR an image elsewhere which starts with the words "muddy bottom"! 
               
               What are his standard deletion marks?
               Horizontal strikethrough
               Vertical strikethrough
               Vertical zag (if it starts vertically and turns horizontal)
               Horizontal zag
               
               Definitely we'll mark the @medium when the hand changes. 
               Questions to investigate: where to use <handShift>? And where to add medium information to the element,
               as in <del hand="pencil"/>
               -->
               --></p>
         </editorialDecl>
      </encodingDesc>
      <profileDesc>
         <particDesc>
            <listPerson>
               <!--ebb: This is a very rudimentary participant description just to get it started!  -->
               <person xml:id="hdt">
                  <persName>Henry David Thoreau</persName>
               </person>
               <person xml:id="fs">
                  <persName>Franklin Sanborn</persName>
               </person>
               <person xml:id="ps">
                  <persName>Paul Schacht</persName>
                  <note resp="#ebb">PI, organizer, and editor on the Walden MS project</note>
               </person>
               <person xml:id="ehw">
                  <persName>Elizabeth Witherell</persName>
                  <note resp="#ebb">Editor-in-chief of the <bibl><title level="s">The Writings of
                           Henry D. Thoreau</title>
                        <ptr target="http://thoreau.library.ucsb.edu/"/></bibl>, editor on the
                     Walden MS project</note>
               </person>
               <person xml:id="ebb">
                  <persName>Elisa Beshero-Bondar</persName>
                  <note resp="#ebb">editor on the Walden MS project</note>
               </person>
               <person xml:id="nw">
                  <persName>Nikolaus Wasmoen</persName>
                  <note resp="#ebb">editor on the Walden MS project</note>
               </person>
               <!-- Add others who work on the TEI code for this project, giving each a distinct identifier for reference in @resp attributes for <note> and <supplied> elements. -->
            </listPerson>
         </particDesc>
      </profileDesc>
   </teiHeader>
   <!--See examples of sourceDoc in TEI P5 
      https://www.tei-c.org/release/doc/tei-p5-doc/en/html//examples-sourceDoc.html  -->
   <sourceDoc>
      <surfaceGrp n="Spring_Sand-Foliage">
         <!--labelling the collection of leaves we'll represent here -->
         <surface xml:id="hm924v1n232">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/232/full/pct:10/0/default.jpg"/>
            <zone ulx="83" uly="111" lrx="158" lry="173" type="numbering">
               <mod>
                  <handShift medium="bluePencil"/>
                  <add place="left-margin-top">p. 468</add>
               </mod>
            </zone>
            <zone type="numbering" ulx="90" uly="890" lrx="165" lry="946">
               <mod>
                  <handShift medium="bluePencil"/>
                  <add place="left-margin-bottom">p. 469</add>
               </mod>
            </zone>
            <zone type="textflow">
               <!--ebb: On the milestone element, let's think about the attributes we want to apply. The @edRef attribute below is an attempt to stitch 
               moments in the photo facsimile to passages in the fluid-text ed.-->
               <lb/><milestone unit="line" edRef="S-4b"/>river–and he dropped down with- <lb/>out
               obstruction, from Sudbury, where <lb/>he lived; to Fair Haven Pond, which <lb/>he
               found unexpectedly, <mod><handShift medium="pencil"/><del rend="hzag">was</del></mod>
               covered <mod type="insert"><handShift medium="ink2"/><metamark rend="caret"
                     place="inline" function="insertion" target="#insert1"/><add xml:id="insert1"
                     place="above">for the most part</add></mod>
               <lb/>with a firm field of ice. It was a <mod><handShift medium="pencil"/><add
                     place="inline">–</add></mod>
               <lb/><mod><handShift medium="ink2"/><del rend="vzag">very</del></mod> warm spring
               day, and he was <lb/><mod><handShift medium="ink2"/><del rend="hstrike"
                     >astonished</del><add place="above">surprised</add></mod> to see such a body of
               ice <lb/>remaining. Not seeing any ducks <lb/>he hid his boat on the <mod
                  type="insert"><handShift medium="pencil"/><metamark rend="caret" place="inline"
                     function="insertion" target="#insert2"/><add xml:id="insert2" place="above"
                           >North<unclear><supplied resp="#ebb">ern</supplied></unclear></add></mod>
               <w>back-
               <lb/>side</w><!--2020-05-17 ebb: Note the use of the <w> element here to indicate a word is being broken across the line.  -->
               of an island in the pond, and <lb/>then concealed himself in the <lb/>bushes on the
               south side to await <lb/>them. The ice was melted out <lb/>3 or 4 rods from the
               shore, and <lb/>there was a smooth and warm sheet <lb/>of water, with a <zone
                  ulx="87" uly="522" lrx="787" lry="969" type="blockDeletion"><mod><handShift
                        medium="pencil"/><add place="left-margin-bottom">?</add><del rend="vstrike"
                        >muddy bottom <lb/>such as the ducks love within, and <lb/>he thought it
                        likely that some would <lb/>be along pretty soon. After he <lb/>had lain
                        still there about an <lb/>hour he <mod><del rend="hstrike"><handShift
                                 medium="ink2"/>suddenly</del></mod> heard a <mod><del
                              rend="vstrike"><handShift medium="ink2"/>s</del>low <lb/></mod>and
                        seemingly very distant sound, <lb/>and singularly grand and <w>im-
                           <lb/>pressive</w>, and unlike anything he <lb/>had ever heard before,
                        gradually <lb/>swelling and increasing as if it <lb/>would have a universal
                        and <lb/>memorable ending–a sudden <lb/>rush and roar, which seemed <lb/>to
                        him, all at once, like the sound</del></mod></zone>
            </zone>
         </surface>
         <surface xml:id="hm924v1n233">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/233/full/pct:10/0/default.jpg"/>
            <zone ulx="92" uly="77" lrx="270" lry="128" type="numbering">
               <mod>
                  <handShift medium="bluePencil"/>
                  <add place="left-margin-top">p. 469</add>
               </mod>
            </zone>
            <zone ulx="128" uly="499" lrx="781" lry="565" type="numbering">
               <mod>
                  <handShift medium="bluePencil"/>
                  <add place="left-margin">p. 474</add>
               </mod>
            </zone>
            <zone type="textflow">
               <zone ulx="84" uly="77" lrx="756" lry="521" type="blockDeletion">
                  <mod>
                     <handShift medium="pencil"/>
                     <del rend="vstrike">
                        <lb/>of a vast body of fowl coming in <lb/>to settle there–and seizing his
                        <lb/>gun he started up <mod><handShift medium="pencil"/><add place="above"
                              >in haste &amp; excited but</add><del rend="hzag">with excitement
                              <lb/>and</del><add place="margin">he</add></mod> found <mod><handShift
                              medium="pencil"/><add place="above">to his suprise</add></mod> that
                        the whole body <lb/>of the ice had started while he <lb/>lay there, and
                        drifted in to the <lb/>shore, and the sound he had heard <lb/>was made by
                        its edge grating <lb/>on the shore <del rend="hzag"><handShift
                              medium="pencil"/>and</del> at first gently <lb/>nibbling and crumbling
                              off–<mod><handShift medium="pencil"/><del rend="hstrike">and</del><add
                              place="above">but</add></mod>
                        <lb/>at length heaving up and <w>scat <lb/>tering</w> its wrecks along the
                        island <lb/>it <mod><handShift medium="pencil"/><del rend="hstrike">became
                              still <del rend="hzag">and silent</del></del>
                           <del rend="hzag">again</del><add place="above">came to a
                              stand-still</add></mod>. </del>
                     <metamark rend="caret-down" function="note-signal"/>
                     <add place="below">
                        <note resp="#hdt" anchored="true">end of Sand foliage <milestone
                              unit="phrase" edRef="S-5"/>At length the sun’s rays</note>
                     </add>
                  </mod>
               </zone>
               <zone ulx="85" uly="499" lrx="780" lry="966" type="blockDeletion">
                  <mod>
                     <handShift medium="pencil"/>
                     <del rend="vstrike"><lb/><milestone unit="paragraph-Start" edRef="S-11"
                        /><!--2020-05-17 ebb: How shall we encode paragraph beginnings? -->But we
                        must not let <lb/>the winter go so easily. When <lb/>the ground is
                              <mod><handShift medium="pencil"/><del rend="hstrike"
                              >completely</del><add place="above">partially</add></mod> bare of
                        <lb/>snow and a few warm days have <lb/>dried its surface <mod><handShift
                              medium="pencil"/><metamark rend="caret" place="inline"
                              function="insertion"/><add place="above">here &amp; there</add></mod>,
                        it is pleasant <lb/>to compare the <mod><handShift medium="pencil"/><del
                              rend="hzag">faint</del><add place="above">first</add></mod> tender
                        signs <lb/>of the infant year just peeping <lb/>forth, with the stately
                        beauty of <lb/>the withered vegetation which has <lb/>withstood the
                              winter<mod><handShift medium="ink2"/><metamark rend="caret"
                              place="inline" function="insertion"/><add place="above">like
                              everlasting-asters, goldenrods &amp; graceful wild grasses whose
                              winter is more stately than their summer even, as if not till then
                              their beauty was ripe</add></mod>–the various <lb/><mod><handShift
                              medium="pencil"/><del rend="hstrike">thistles</del><add place="above"
                              >sedges</add></mod>
                        <mod><handShift medium="pencil"/><metamark rend="caret" place="inline"
                              function="insertion"/><del rend="hstrike"><add place="above"><unclear
                                    unit="char" quantity="10"><supplied resp="#ehw #ebb">mulleins
                                       &amp;</supplied></unclear></add></del></mod> and other
                        strong-stemmed <lb/>plants which have not <mod><handShift medium="ink2"
                              /><del rend="vstrike">even</del></mod> yet <lb/>sown <mod><handShift
                              medium="ink2"/><add place="below">even</add></mod>
                        <mod><handShift medium="pencil"/><metamark rend="caret" place="inline"
                              function="insertion"/><del rend="vzag vstrike"><add place="above"
                                 >their seeds</add></del></mod>their seeds–<mod><handShift
                              medium="ink2"/><del rend="hstrike">and graceful <mod><handShift
                                    medium="pencil"/><add place="above">the</add></mod>
                              <lb/>reeds and rushes whose winter is <mod><handShift medium="pencil"
                                    /><metamark rend="caret" place="above" function="insertion"
                                    /><add place="above"><del rend="hstrike"><unclear unit="char"
                                          quantity="11"><supplied resp="#ebb" cert="low">rush
                                             grass</supplied></unclear></del> cotton grass catt tail
                                          <mod><handShift medium="ink2"/><del rend="hstrike"
                                             ><handShift medium="pencil"/><unclear unit="char"
                                             quantity="5"><add place="above"><gap reason="illegible"
                                                /></add></unclear></del></mod> mulleins &amp;c
                                    &amp;c <lb/>hard hack &amp; meadowsweet</add></mod>more gay and
                              stately than their</del></mod>
                     </del>
                  </mod>
               </zone>
               <zone type="comment">
                  <mod>
                     <handShift medium="ink2"/>
                     <del rend="vstrike">
                        <mod>
                           <handShift medium="pencil"/>
                           <note resp="#hdt">2 [ </note>
                        </mod>
                     </del>
                  </mod>
                  <note resp="#ebb">In pencil, the number two followed by a bracket spanning the
                     last two lines of the page, specifically surrounding the pencilled additions
                     perhaps indicating a passage to be moved or replaced. This notation has then
                     been cancelled in ink.</note>
               </zone>
            </zone>
         </surface>
         <surface xml:id="hm924v1n234">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/234/full/pct:10/0/default.jpg"/>
            <zone ulx="80" uly="255" lrx="156" lry="367" type="numbering">
               <mod>
                  <handShift medium="pencil"/>
                  <add place="left-margin">478</add>
               </mod>
            </zone>
            <zone ulx="721" uly="79" lrx="765" lry="104" type="numbering">
               <mod>
                  <handShift medium="pencil"/>
                  <add place="right-margin-top">223</add>
               </mod>
            </zone>
            <zone type="textflow">
               <lb/><milestone unit="phrase" edRef="S-11"/>summer–as if not till then was <lb/>their
               beauty ripe.— wild oats <w>per<lb/>chance</w> and life-everlasting whose <lb/>autumn
               has now arrived–those <w>un<lb/>exhausted</w> granaries of winter, whose <lb/>seeds
               entertain the earliest birds. <lb/>I never tire of admiring their <lb/>arching
               drooping and sheaflike tops <lb/>They bring back the summer to our<lb/> winter
               memories–and are among<lb/> the forms which art loves to <w>perpetu-<lb/>ate</w>.
               They are an antique style–older <lb/>than Greek or Egyptian–a lighter <lb/>and more
               graceful Ionic– <!-- NW: Here we have used a listTrasnpose element within a mod element to 
               record the transpositions that are indicated by Thoreau's markings upon the 
               underlying flow of the text as it appears on the page. The underlying text is
               transcribed in the order in which it occurs on the page, but where T has 
               indicated the chunks of the text he intended to transpose after their initial 
               inscription using a transposition metamark, we have wrapped the separate parts
               of the transposition in seg elements, the intended (rather than inscribed) order
               of which are recorded as a list of transpose elements, pointing to the associated
               seg elements with @n values that match the transpose@target values. -->
               <mod>
                  <seg n="01">a <w>ric<metamark rend="number" place="above">2</metamark>her</w>
                     <lb/>Corinthian–</seg><metamark rend="transposition"/>
                  <seg n="02">a <w>simp<metamark rend="number" place="below">1</metamark>ler</w>
                     Doric</seg>
                  <listTranspose>
                     <!-- If we always transcribe text as it appears on the page, regardless of the 
                        indicated transpositions, we could probably drop the transpose element that
                        simply lists the initial ordering, as it is implied. In that case, we only 
                        need to indicate later (i.e. after initial inline inscription) transpositions.
                        If we want to keep all orderings in this list, I think we should add some kind
                        of typology or ordering info in the form of an attribute in the transpose elements
                        such that we distinguish between the transpositions being recorded more explicitly
                       than simply putting them in a given order (harder to check systematically if we are
                       being consistent that way across the whole text). Note the numbering here is very simple
                       as we are only numbering these seg elements that occur within a given mod, not a running
                       numbering/ID throughout the file or the edition, which seems to me fine. -->
                     <!-- <transpose>
                        <ptr target="01"/>
                        <ptr target="02"/>
                     </transpose> -->
                     <transpose>
                        <ptr target="02"/>
                        <ptr target="01"/>
                     </transpose>
                  </listTranspose>
               </mod> –a more<lb/> various Composite. The beauty of the <lb/>drooping and sheaf-like
               head of the <lb/>rush all men have admired in all <lb/>ages–and it must have some
               such <lb/>near and unaccountable relation to <lb/>human life, as astronomy has to
               <lb/>those laws and figures which first <lb/>existed in the mind of man. <lb/>All the
               phenomena of winter are <lb/>suggestive of an inexpressible <w>tender<lb/>ness</w>,
               and fragile delicacy–We are <lb/>accustomed to hear this king almost <lb/> tyrant
               described as rude and <lb/>boisterous–but with the gentleness <lb/>of a lover he
               adorns the tresses of summer.</zone>
         </surface>
         <surface xml:id="hm924v1n235">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/235/full/pct:10/0/default.jpg"/>
            <zone ulx="160" uly="85" lrx="240" lry="135" type="numbering">
               <mod>
                  <handShift medium="bluePencil"/>
                  <add place="left-margin-top">p 469</add>
               </mod>
            </zone>
            <zone type="textflow">
               <!-- There is horizontal line in pencil with a vertical line trailing down the middle of the page, which Beth interpret's
               an indication Thoreau wanted to move or transpose the bottom section of this page in a later version. Need to look around
               to see if I can find where that might be, and then see if we can use note and/or listTranspose elements to render it in
               the encoding. -->
               <lb/><milestone unit="paragraph-Start" edRef="S-5"/>At length the sun’s rays
               <lb/>have attained the right angle, <lb/>and warm winds blow up mist <lb/>and rain
               and melt the snow banks <lb/>–and the sun dispersing the mist <lb/>smiles on a
               checkered landscape of <lb/>russet and white–smoking with <lb/>incense–through which
               the traveller <lb/>picks his way from islet to islet<lb/> cheered by the music of a
               myriad <lb/>rills and rivulets whose veins <lb/>are filled with the blood of winter
               <lb/>which they are bearing off.–<lb/>As I go back and forth over <lb/>the rail-road
               through the deep <lb/>cut I have seen where the clayey <lb/>sand <mod><metamark
                     rend="caret" place="below" function="insertion"/><add place="above">like
                     lava</add></mod> had flowed down when it thawed <lb/>and as it streamed it
               assumed the <lb/>forms of vegetation, of vines and <lb/>stout pulpy
                  leaves—<w>unaccount-<lb/>ably</w> interesting and beautiful—which <lb/>methinks I
               have seen imitated <lb/>somewhere in bronze—as if its <lb/>course were so to speak a
               diagonal <lb/>between fluids &amp; solids—and it were <lb/>hesitating whether to
               stream in to a <lb/>river, or into vegetation—for <lb/>vegetation too is such a
               stream as <lb/>a river, only of slower current.</zone>
         </surface>
      </surfaceGrp>
      <surfaceGrp n="TranspositionExamples">
         <!--NW: these are just selected fragments of pages from the MS that Beth Witherell has identified
             for our use in experimenting with our proposed transposition encoding. -->
         <surface xml:id="hm924v1n26">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/26//full/pct:10/0/default.jpg"/>
            <!-- omitting marginal marks from sample, which only includes text involving transposition, omits 
                 milestone elements -->
            <zone type="textflow">
               <!-- bottom 1/3 of page, last paragraph -->
               <lb/>I long age lost a hound— <lb/>
               <mod><del rend="hstrike">and a</del></mod>
               <mod><seg n="01"><w>turtl<metamark rend="number" place="above">2</metamark>e</w>
                     dove</seg>
                  <metamark rend="transposition"/>
                  <mod><del rend="hstrike">and</del>
                  </mod>
                  <seg n="02">a <w>b<metamark rend="number" place="below"/>ay</w> horse—</seg>
                  <listTranspose>
                     <transpose>
                        <ptr target="02"/>
                        <ptr target="01"/>
                     </transpose>
                  </listTranspose>
               </mod><lb/>and am still on their trail.</zone>
         </surface>
         <surface xml:id="hm924v1n27">
            <graphic
               url="https://cdm16003.contentdm.oclc.org/digital/iiif/p16003coll16/27//full/pct:10/0/default.jpg"/>
            <!-- omitting marginal marks from sample, which only includes text involving transposition, omits 
                 milestone elements -->
            <zone type="textflow">
               <!-- top 1/4 of page, first paragraph -->
               <lb/>many mornings <mod><del rend="hstrike">before yet</del></mod> summer &amp;
               winter <lb/>before yet any man was stirring about <lb/> his business <mod><seg n="01"
                     >I</seg>
                  <metamark rend="transposition"/>
                  <seg n="02">have</seg>
                  <listTranspose>
                     <transpose>
                        <ptr target="02"/>
                        <ptr target="01"/>
                     </transpose>
                  </listTranspose>
               </mod>been about mine. No</zone>
         </surface>
      </surfaceGrp>
   </sourceDoc>
</TEI>
